#mctree {
    dock: left;
    height: 100%;
    width: 15%;
}
#overall_totals {
    width: 25%;
}
#play_data {
    height: 10%;
}
#hero_banner {
    height: auto;
}
#villain_banner {
    height: auto;
}